@code {
  [Parameter]
  public required bool IsOpen { get; set; }
  [Parameter]
  public required Address Address { get; set; }
  [Parameter]
  public required Contact Contact { get; set; }
}

<div class="subsection scroll-container">
  <div class="row">
    <span>@(IsOpen ? "Open" : "Closed")</span>
    <span>@Address.GetStreetAndZipCode()</span>
    <span>@Address.City</span>
  </div>
  <div class="row">
    <span>@Contact.GetPhoneNumber()</span>
    <span>@Contact.Email</span>
    @if (@Contact.HasSupportChat) {
      <span>Support Chat</span>
    }
  </div>
</div>