@inject FavoriteDepartmentsService FavoriteDepartmentsService
@inject IToastService toastService

@code {
  [Parameter]
  public required string Name { get; set; }
  [Parameter]
  public required List<string> Images { get; set; }
  [Parameter]
  public required AddressModel Address { get; set; }
  [Parameter]
  public required ContactModel Contact { get; set; }
  [Parameter]
  public required List<OpeningHoursModel> OpenHours { get; set; }

  private const string LIKED_STORE_KEY = "liked";

  private bool IsLiked = false;
  private bool IsLoaded = false;

  protected override async Task OnAfterRenderAsync(bool firstRender) {
    if (!firstRender) {
      return;
    }

    await LoadStateAsync();
    IsLoaded = true;
    StateHasChanged();
  }

  private async Task LoadStateAsync() {
    var liked = await FavoriteDepartmentsService.GetLikedAsync();
    IsLiked = liked.Contains(Name);
  }

  private async Task ToggleLikedAsync() {
    IsLiked = !IsLiked;

    var liked = await FavoriteDepartmentsService.GetLikedAsync();
    if (IsLiked) {
      liked.Add(Name);
    } else {
      liked.Remove(Name);
    }

    await FavoriteDepartmentsService.SaveLikedAsync(liked);
    
    toastService.ShowSuccess("Department has been " + (IsLiked ? "added" : "removed") + " as a favorite");
  }
}

<div class="page">
  <div class="section">
    <div class="subsection">
      <div class="title">
        <h1>@Name</h1>
        @if (IsLoaded && RendererInfo.IsInteractive) {
          <button style="@(IsLiked ? "color: red;" : "color: green;")" @onclick="@ToggleLikedAsync">Save</button>
        }
      </div>
    </div>

    <AddressAndContact Address="@Address" Contact="@Contact" IsOpen=@(OpenHours[0].IsOpenNow())/>

    <div class="subsection scroll-container">
      @foreach (var image in Images)
      {
        <img src="@image" />
      }
    </div>
  </div>

  <OpeningHours OpenHours="@OpenHours" />
  
</div>