<div class="page">
  <div class="section">
    <div class="subsection">
      <div class="title">
        <h1>Aalborg</h1>
        <button>Save</button>
      </div>
    </div>

    <AddressAndContact />

    <div class="subsection scroll-container">
      <img src="@Assets["/red.png"]" />
      <img src="@Assets["/green.png"]" />
      <img src="@Assets["/blue.png"]" />
      <img src="@Assets["/red.png"]" />
      <img src="@Assets["/green.png"]" />
      <img src="@Assets["/blue.png"]" />
      <img src="@Assets["/red.png"]" />
      <img src="@Assets["/green.png"]" />
      <img src="@Assets["/blue.png"]" />
    </div>
  </div>

  <OpeningHours />
  
</div>
