@page "/department/{Id:int}"

@inject DepartmentsService DepartmentsService

@code {
  [Parameter] public required int Id { get; set; }

  private Data.Department? model;

  protected override async Task OnInitializedAsync()
  {
    model = await DepartmentsService.GetByIdAsync(Id);
  }
}

@if (model == null)
{
  <p>Department not found.</p>
}
else
{
  <Department Name="@model.Name" Images="@model.Images.ToList()" Address="@model.Address" Contact="@model.Contact" OpenHours="@model.OpenHours.ToList()" />
}