@page "/"

<PageTitle>Home</PageTitle>

<div class="page">
  <div class="section">
    <div class="subsection">
      <div class="title">
        <h1>Aalborg</h1>
        <button>Save</button>
      </div>
    </div>
    <div class="subsection">
      <div class="row">
        <span>Open</span>
        <span>Østerågade 27, 9000</span>
        <span>Aalborg</span>
      </div>
      <div class="row">
        <span>+45 11 22 33 44</span>
        <span>aalborg@flexybox.com</span>
        <button>Support</button>
      </div>
    </div>

    <div class="subsection scroll-container">
      <img src="@Assets["/red.png"]" />
      <img src="@Assets["/green.png"]" />
      <img src="@Assets["/blue.png"]" />
      <img src="@Assets["/red.png"]" />
      <img src="@Assets["/green.png"]" />
      <img src="@Assets["/blue.png"]" />
      <img src="@Assets["/red.png"]" />
      <img src="@Assets["/green.png"]" />
      <img src="@Assets["/blue.png"]" />
    </div>
  </div>

  <div class="section">
    <div class="subsection">
      <h2>Opening hours</h2>
    </div>

    <div class="subsection scroll-container">
      <input name="hours" id="a" type="radio" checked>
      <label for="a">Restaurant</label>

      <input name="hours" id="a" type="radio">
      <label for="a">Takeaway</label>

      <input name="hours" id="a" type="radio">
      <label for="a">Buffet</label>

      <input name="hours" id="a" type="radio">
      <label for="a">Special Events</label>
    </div>
    <div class="subsection opening-hours">
      <dl>
        <dt>Monday - Thursday</dt>
        <dd>07:00 - 22:00</dd>

        <dt>Friday</dt>
        <dd>07:00 - 22:00</dd>

        <dt>Saturday</dt>
        <dd>07:00 - 22:00</dd>

        <dt>Sunday</dt>
        <dd>07:00 - 22:00</dd>

        <dt>Holidays</dt>
        <dd>Closed</dd>
      </dl>
    </div>
  </div>
</div>
